<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>student.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>studentRegister</servlet-name>
    <servlet-class>com.practice.controller.StudentServlet</servlet-class>
    <init-param>
    <param-name>mainEmail</param-name>
    <param-value>abc@gmail.com</param-value>    
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentDetails</servlet-name>
    <servlet-class>com.practice.controller.StudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentDetails</servlet-name>
    <url-pattern>/studentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentDelete</servlet-name>
    <servlet-class>com.practice.controller.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentDelete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDetailsServlet</servlet-name>
    <servlet-class>com.practice.controller.UpdateDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetailsServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoPopulateDetailsServlet</servlet-name>
    <servlet-class>com.practice.controller.AutoPopulateDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoPopulateDetailsServlet</servlet-name>
    <url-pattern>/autoPopulate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentReportServlet</display-name>
    <servlet-name>StudentReportServlet</servlet-name>
    <servlet-class>com.practice.controller.StudentReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentReportServlet</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
</web-app>